body {
  color: #337AB7;
  background-image: url(../img/dark_embroidery.png);
}
.position {
  position: absolute;
  right: 0;
  left: 0;
}

header {
  @extend .position;
  top: 0px;
  height: 100px;
  line-height: 100px;
}

footer {
  @extend .position;
  bottom: 0px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
}

nav {
  @extend .position;
  top: 100px;
}

#panel1, #panel2, #panel3, #panel4 {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

section#produits {
  @extend .position;
  top: 450px;
  bottom: 50px;
  overflow-x: hidden;
  overflow-y: auto;
}
